/* Importing Fonts */
@font-face {
  font-family: latoThin;
  src: url(https://rajappan.org/in_use_fonts/lato_thin.ttf);
}
@font-face {
  font-family: latoRegular;
  src: url(https://rajappan.org/in_use_fonts/lato_regular.ttf);
}
@font-face {
  font-family: latoBold;
  src: url(https://rajappan.org/in_use_fonts/lato_bold.ttf);
}
@font-face {
  font-family: latoItalic;
  src: url(https://rajappan.org/in_use_fonts/lato_italic.ttf);
}
@font-face {
  font-family: promptThin;
  src: url(https://rajappan.org/in_use_fonts/prompt_thin.ttf);
}
@font-face {
  font-family: promptRegular;
  src: url(https://rajappan.org/in_use_fonts/prompt_regular.ttf);
}
@font-face {
  font-family: promptBold;
  src: url(https://rajappan.org/in_use_fonts/lato_bold.ttf);
}
@font-face {
  font-family: promptItalic;
  src: url(https://rajappan.org/in_use_fonts/prompt_italic.ttf);
}
/* End Fonts */
html {
  scroll-behavior: smooth;
}
body{
  background-color:#F5F2EF;
  font-family: Trebuchet MS, sans-serif;
  margin:0;
  height:1000px
  position:relative;
}
a{
  display:inline-block;
}
.nav {
  display:table;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
  width:100%;
  position: sticky; 
  top: 0;
  background-color:#626493;
}
.homeButton{
  border:0;
  color:#F0EDEA;
  background-color:#626493;
  margin-left:10px;
}
.homeName{
  font-family: promptRegular, Tahoma MS, sans-serif;
}
.homeButton:hover{
  color:#8A93A3;
}
.rightAlign{
  display:table-cell;
  text-align:right;
}
.rButton{
  margin-left: 3px;
  border:0;
  border-radius:10px;
  background-color:#626493;
  color:#F0EDEA;
}
.lMost{
  margin-right:15px
}
.rButton:hover{
  color:#8A93A3;
  text-decoration:underline;
}
h1{
  font-family: latoRegular, Tahoma MS, sans-serif;
  font-weight:normal;
}
h2{
  font-family: latoRegular,Trebuchet MS, sans-serif;
  font-weight:regular;
}
.center{
  text-align:center;
}
.name{
  font-size: 80px;
  font-weight: bold;
  padding:20px;
  color: #4b3ee4;
  font-family: promptRegular, Tahoma MS, sans-serif
}
.nameInfo{
  font-size: 20px;
  font-family: latoBold, Tahoma, sans-serif;
  color: #1d4c4a;
}
.underline{
  text-decoration:underline;
}
.footer{
  position:absolute;
  padding-top:5px;
  padding-bottom:5px;
  width:100%;
  background-color:#16151E;
  text-align:center;
  color:#F5F2EF;
}
.footerButton{
  width:48px;
  height:48px;
  background-color: #4b3ee4;
  color: #16151E;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  border:none;
  margin-left:5px;
}
.footerButton:hover{
  background-color: #594de6;
}
.faceImage{
  padding:10px;
  padding-top:30px;
  width:400px;
  border-radius:100%;
  align-items:center;
}
.infoPadding{
  padding-left:20px;
  padding-right:20px;
}
.contactTitle{
  font-size: 72px;
  font-weight: bold;
  padding-top:10px;
  color: #4b3ee4;
  font-family: promptRegular, Tahoma MS, sans-serif;
  margin:20px;
}
table{
  margin:0 auto;
}
.emailName{
  font-size: 48px;
  font-weight: bold;
  padding:10px;
  padding-right:30px;
  color: #171a3c;
  font-family: latoRegular, Tahoma MS, sans-serif;
}
.emailEnd{
  font-size: 48px;
  font-weight: bold;
  padding-top:0px;
  padding-bottom:30px;
  padding-left:30px;
  color: #171a3c;
  font-family: latoRegular, Tahoma MS, sans-serif
}
.smallOr{
  font-size:30px;
  color: #4b3ee4
}
.linkedInInvite{
  font-family: promptRegular, TahomaMS, sans-serif;
  font-size:24px;
  color:#171a3c;
}
