body{
  background-color:#EDE4E0;
  font-family: Trebuchet MS, sans-serif;
  margin:0;
}
.nav {
  display:table;
  width:100%;
  position: sticky; 
  top: 0;
  background-color:#AEC3AE;
}
.homeButton{
  font-size;
  border:0;
  background-color:#AEC3AE
}
.homeButton:hover{
  color:#374a37;
}
.rightAlign{
  display:table-cell;
  text-align:right;
}
.rButton{
  margin-left: 3px;
  border:0;
  border-radius:10px;
  background-color:#AEC3AE
}
.lMost{
  margin-right:15px
}
.rButton:hover{
  color:#374a37;
  text-decoration:underline;
}
h1{
  font-family: Lato, Tahoma;
}
h2{
  font-family: Trebuchet MS, sans-serif
}
.center{
  text-align:center;
}
.name{
  font-size: 80px;
  font-weight: bold;
  padding:20px;
  color: #3f553f;
}
.nameInfo{
  font-size: 20px;
  font-family: Tahoma, sans-serif;
  color: #665A48
}
.underline{
  text-decoration:underline;
}
.footer{
  position: fixed;
  bottom:0;
  padding:10px;
  width:100%;
  background-color:#665A48;
  text-align:center;
  color:#FFEEF4;
}
.TEMP{
  padding: 20px;
  font-size: 20px;
  font-weight:bold;
  font-family: Arial, sans-serif;
  
}
