/* Importing Fonts */

@font-face {
  font-family: latoThin;
  src: url('files/in_use_fonts/lato_thin.ttf');
}
@font-face {
  font-family: latoRegular;
  src: url('files/in_use_fonts/lato_regular.ttf');
}
@font-face {
  font-family: latoBold;
  src: url('files/in_use_fonts/lato_bold.ttf');
}
@font-face {
  font-family: latoItalic;
  src: url('files/in_use_fonts/lato_italic.ttf');
}
@font-face {
  font-family: promptThin;
  src: url('files/in_use_fonts/prompt_thin.ttf');
}
@font-face {
  font-family: promptRegular;
  src: url('files/in_use_fonts/prompt_regular.ttf');
}
@font-face {
  font-family: promptBold;
  src: url('files/in_use_fonts/lato_bold.ttf');
}
@font-face {
  font-family: promptItalic;
  src: url('files/in_use_fonts/prompt_italic.ttf');
}
@font-face {
  font-family:nunitoSans ;
  src: url('files/in_use_fonts/nunitosans_variable.ttf');
}
/* End Fonts */

/* Scrollbar: */
::-webkit-scrollbar {
  width: 8px;
  background:transparent;
}
::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-clip: 0; 
  background-color: #171a3c;
  border-radius: 8px;
}
/* End Scrollbar */
html {
  scroll-behavior: smooth;
}
body{
  background-color:#F5F2EF;
  font-family: Trebuchet MS, sans-serif;
  margin:0;
  height:1000px;
  position: relative;
}
a{
  display:inline-block;
}
.nav {
  display:table;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
  width:100%;
  position: sticky; 
  top: 0;
  background-color:#4b3ee4;
}
.homeButton{
  border:0;
  color:#F0EDEA;
  background-color:#4b3ee4;
  margin-left:10px;
}
.homeName{
  font-family: promptRegular, Tahoma MS, sans-serif;
  font-weight: bold;
}
.homeButton:hover{
  color:#a8b3d0;
}
.rightAlign{
  display:table-cell;
  text-align:right;
}
.rButton{
  margin-left: 3px;
  border:0;
  border-radius:10px;
  background-color:#4b3ee4;
  color:#F0EDEA;
}
.rButtonText{
  font-family: promptRegular, Tahoma MS, sans-serif;
  font-weight: bold;
}
.lMost{
  margin-right:15px
}
.rButton:hover{
  color:#a8b3d0;
  text-decoration:underline;
}
h1{
  font-family: latoRegular, Tahoma MS, sans-serif;
  font-weight:normal;
}
h2{
  font-family: latoRegular,Trebuchet MS, sans-serif;
  font-weight:regular;
}
.center{
  text-align:center;
}
.darkDiv{
  background-color: #1d4c4a;
  padding-top: 10px;
  padding-bottom:10px;
  border-radius: 5%;
}
.name{
  font-size: 80px;
  font-weight: bold;
  padding:20px;
  color: #4b3ee4;
  font-family: promptRegular, Tahoma MS, sans-serif
}
.nameInfo{
  font-size: 30px;
  font-family: nunitoSans, Tahoma, sans-serif;
  color: #1d4c4a;
  font-weight: 1000;
}
.bio{
  font-size: 24px;
  font-family:latoBold, Tahoma MS, sans-serif;
  padding:20px;
  padding-top:50px;
  padding-bottom:50px;
  color: #d7dfe4;
  font-weight:bold;
}
/*Temporary while looking for summer pos.*/
.applying{
  font-size:25px;
}
.underline{
  text-decoration:underline;
}
.footer{
  position:absolute;
  padding-top:5px;
  padding-bottom:5px;
  width:100%;
  background-color:#16151E;
  text-align:center;
  color:#F5F2EF;
}
.footerButton{
  width:48px;
  height:48px;
  background-color: #4b3ee4;
  color: #16151E;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  border:none;
  margin-left:5px;
}
.footerButton:hover{
  background-color: #594de6;
}
.faceImage{
  padding:10px;
  padding-top:30px;
  width:400px;
  border-radius:100%;
  align-items:center;
}
.infoPadding{
  padding-left:50px;
  padding-right:50px;
  text-align: justify;
  text-align-last: center;
}
.contactTitle{
  font-size: 72px;
  font-weight: bold;
  padding-top:10px;
  color: #4b3ee4;
  font-family: promptRegular, Tahoma MS, sans-serif;
  margin:20px;
}
table{
  margin:0 auto;
}
.emailName{
  font-size: 48px;
  font-weight: bold;
  padding:10px;
  padding-right:30px;
  color: #171a3c;
  font-family: latoRegular, Tahoma MS, sans-serif;
}
.emailEnd{
  font-size: 48px;
  font-weight: bold;
  padding-top:0px;
  padding-bottom:30px;
  padding-left:30px;
  color: #171a3c;
  font-family: latoRegular, Tahoma MS, sans-serif
}
.smallOr{
  font-size:30px;
  color: #4b3ee4
}
.linkedInInvite{
  font-family: promptRegular, TahomaMS, sans-serif;
  font-size:24px;
  color:#171a3c;
}
